body {
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}

.bubble {
    position: absolute;
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
    background-color: red;
    opacity: 0;
    animation: anim 8s;
    -webkit-animation: anim 8s;
    filter: hue-rotate(0deg) forwards;
    -webkit-filter: hue-rotate(0deg) forwards;
}

@keyframes anim {
    to{
        top: -250px;
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(720deg);
        -webkit-filter: hue-rotate(720deg);
    }
}

h3{
    font-size: 10rem;
    text-align: center;
    margin-top: 10rem;
    color:rgba(128,128,128, 0.555);

}